body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #150ed2;
    color: white;
    padding: 10px 20px;
    flex-wrap: wrap;
}

header .logo {
    max-height: 50px;
    margin-right: 20px;
}

.header-a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin: 5 15px;
}

/* Error Message */
#error {
    display: none;
    background: #f2dede;
    color: #a94442;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    max-width: 600px;
    text-align: center;
}

form, #fileList {
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="Date"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 80px;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #150ed2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4559a0;
}


#fileList ul {
    list-style-type: none;
    padding: 0;
}

#fileList li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fileList li a {
    text-decoration: none;
    color: #150ed2;
}

#fileList li a:hover {
    text-decoration: underline;
}

/* list.html */
table {
    text-align: center;
    background: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#List tbody td button {
    border: 1px solid black;
    padding: 6px 6px;

}

table td, th {
    padding: 10px;
    border: 2px black solid;
}

#details-csv {
    display: none;
    margin-top: 100px;
}

#details-csv table {
    max-width: 900px;
}

#details-csv h2 {
    text-align: center;
}

#details-csv td, th {
    width: 300px;
}

/* Media Queries */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    form, #fileList {
        margin: 10px;
        padding: 15px;
    }

    button {
        width: 100%;
        font-size: 18px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .checkbox-group label {
        font-size: 14px;
    }
}
